body {
  margin: 0;
  padding: 0;
}

#section-1 {
  width: 100%;
  height: 100vh;
  background-color: #0096c7;
}

#section-2 {
  width: 100%;
  height: 100vh;
  background-color: #0077b6;
}

#section-3 {
  width: 100%;
  height: 100vh;
  background-color: #023e8a;
}